In [2]:
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt 
from sklearn import metrics  
import pandas as pd
import numpy as np
df= pd.read_csv('DATA.csv')
df.head()

     f1    f2    f3    f4      y
0  8225  1943  7935  7651  60601
1  5724  5732  8808  5406  62172
2  2954  3673  5491  2458  34850
3  8925  9697  8743  9599  93945
4  5539  5225  6350  2192  42726

In [3]:
x = df.iloc[:,0:4]
y=df['y']
model = LinearRegression().fit(x, y)
print("The intercept is "+str("%.3f"%model.intercept_))
coeff_df = pd.DataFrame(model.coef_, x.columns, columns=['Coefficient'])  
coeff_df

The intercept is 51.717

    Coefficient
f1     1.000381
f2     2.999764
f3     1.999628
f4     3.999972

In [4]:
print("y="+str("%.2f"%model.intercept_)+"+f1*"+str("%.2f"%model.coef_[0])+"+f2*"+str("%.2f"%model.coef_[1])+"+f3*"+str("%.2f"%model.coef_[2])+"+f4*"+str("%.2f"%model.coef_[3]))

y=51.72+f1*1.00+f2*3.00+f3*2.00+f4*4.00

In [5]:
print('Predicted Response:', model.predict([[1,2,3,4]]))

Predicted Response: [80.71615999]

In [6]:
y_Pred = model.predict(x)
df = pd.DataFrame({'Actual': y, 'Predicted': y_Pred })  
df.head(10)

   Actual     Predicted
0   60601  60579.223422
1   62172  62209.116437
2   34850  34836.864294
3   93945  93947.306014
4   42726  42732.170416
5   41142  41110.121834
6   45278  45239.486339
7   58510  58552.149359
8   32155  32120.297471
9   73569  73598.082847

In [7]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y, y_Pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y, y_Pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y, y_Pred)))

Mean Absolute Error: 25.358114092697345
Mean Squared Error: 838.7981005520031
Root Mean Squared Error: 28.96201133471229